# Ignore dependencies
node_modules/

# Ignore production builds
dist/
build/

# Ignore environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore sales documentation
FaceAtend_Project_Documentation.md

